<h2><%= @story.title %></h2>
<a href="/stories/<%= @story.id %>/edit" >edit story</a>
<h3><em>posted in <%= @story.topic %></em></h3>

<img src="<%= @story.image %>">

<p><%= @story.body %></p>

<a href="/">Home</a>